* {
    font-family: sans-serif;
}

:root {
    --main-bg-color: brown;
}

@layer module, state;

@layer state {
    body {
        background: pink;
    }
}

@layer module {
    body {
        background: var(--main-bg-color);
    }
}

@media screen and (min-width:720px) {
    h1.sc720 {
        color: aquamarine;
        background-color: palevioletred;
    }
}

@media screen and (width>420px) and (width<720px) {
    h1.sc470 {
        color: aquamarine;
        background-color: palevioletred;
    }
}

@media screen and (max-width:420px) {
    h1.sc420 {
        color: aquamarine;
        background-color: palevioletred;
    }
}


li[class] {
    font-size: 120%;
}

li[class="a"] {
    background-color: yellow;
}

li[class~="a"] {
    color: red;
}

li[class|="a"] {
    color: pink;
}

li[class^="a"] {
    font-size: 150%;
}

li[class$="a"] {
    background-color: yellow;
}

/* li[class*="a"] {
    color: greenyellow;
} */

.box p {
    color: red;
}

.box {
    background-color: greenyellow;
    padding: 10px;
    border: 5px solid rebeccapurple;
}

.box1 {
    background: pink;
    width: 50%;
    padding: 20px;
}

.box2 {
    background-color: antiquewhite;
    width: 90%;
    margin: 0px auto;
}

.container {
    width: 80%;
    background-color: lightgray;
    margin: 0 auto;
    /* Center the container */
    border: 1px solid black;
}

.box3 {
    width: 50%;
    margin: 10% auto;
    /* Margin of 10% on top and bottom */
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

.italic {
    font-style: normal;
    font-size: xx-large;
    text-shadow:
        1px 1px 1px red,
        2px 2px 1px green;
}

.oblique {
    font-style: oblique;
    /* text-transform: full-width; */
    background-color: pink;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box4 {
    height: 400px;
    width: 600px;
    box-sizing: content-box;
    padding: 10px;
    border: 5px solid black;
    outline: 10px solid blueviolet;
    margin: 15px;
}

.box5 {
    height: 20vh;
    width: 20vh;
    text-wrap: nowrap;
    overflow: scroll;
    text-overflow: clip;
}

.img1 {
    float: left;
    border: 2px solid black;
    display: flow-root;
    /* not working*/
}

.box6 {
    border: 2px solid red;
}

/* .parent1 {
    color: aquamarine;
} */

.ch1,
.ch2,
.ch3 {
    height: 200px;
    width: 500px;
    /* display: block; */
    border: 2px solid black;

}

/* comment after pseudo class&ele */
section {
    display: flex;
    align-items: start;
    justify-content: space-around;
}

article {
    display: inline-block;
    width: 40%;
}

h1 {
    font-size: 1.2em;
}

h2 {
    font-size: 1em;
    color: rgb(150 149 149);
}

h3 {
    font-size: 0.9em;
    color: darkgrey;
}

h1,
h2,
h3 {
    margin: 0 0 1rem 0;
}

:is(h1, h2, h3):has(+ :is(h2, h3, h4)) {
    color: aqua;
}

:is(h1, h2, h3):has(+ h2, + h3, + h4) {
    color: greenyellow;
}

section::before{
    content: "before";
}
section::after{
    content: "after";
}