* {
    font-family: sans-serif;
}

li[class] {
    font-size: 120%;
}

li[class="a"] {
    background-color: yellow;
}

li[class~="a"] {
    color: red;
}

li[class|="a"] {
    color: pink;
}

li[class^="a"] {
    font-size: 150%;
}

li[class$="a"] {
    background-color: yellow;
}

/* li[class*="a"] {
    color: greenyellow;
} */

.box p {
    color: red;
}

.box {
    background-color: greenyellow;
    padding: 10px;
    border: 5px solid rebeccapurple;
}

.box1 {
    background: pink;
    width: 50%;
    padding: 20px;
}

.box2 {
    background-color: antiquewhite;
    width: 90%;
    margin: 0px auto;
}

.container {
    width: 80%;
    background-color: lightgray;
    margin: 0 auto; /* Center the container */
    border: 1px solid black;
}

.box3 {
    width: 50%;
    margin: 10% auto; /* Margin of 10% on top and bottom */
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

.italic{
    font-style: normal;
    font-size: xx-large;
    text-shadow:
    1px 1px 1px red,
    2px 2px 1px green;
}
.oblique{
    font-style: oblique;
    /* text-transform: full-width; */
    background-color: pink;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}